In [10]:
import pandas as pd

train_path='data/training-Obama-Romney-tweets.xlsx'
# Read both sheets from the Excel file
df_sheet1 = pd.read_excel(train_path, sheet_name=0)
df_sheet2 = pd.read_excel(train_path, sheet_name=1)

# Combine the dataframes
df = pd.concat([df_sheet1, df_sheet2], ignore_index=True)
df.shape

(14400, 6)

In [11]:
df.head()

,Unnamed: 0,date,time,Anootated tweet,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,"1: positive, -1: negative, 0: neutral, 2: mixed",Class,Your class
1,NaN,2012-10-16 00:00:00,10:28:53-05:00,"Kirkpatrick, who wore a baseball cap embroider...",0,NaN
2,NaN,2016-12-10 00:00:00,10:09:00-05:00,Question: If <e>Romney</e> and <e>Obama</e> ha...,2,NaN
3,NaN,2012-10-16 00:00:00,10:04:30-05:00,#<e>obama</e> debates that Cracker Ass Cracker...,1,NaN
4,NaN,2012-10-16 00:00:00,10:00:36-05:00,RT @davewiner Slate: Blame <e>Obama</e> for fo...,2,NaN

In [12]:
df = df[["Anootated tweet", "Unnamed: 4"]]
df.head()

                                     Anootated tweet Unnamed: 4
0    1: positive, -1: negative, 0: neutral, 2: mixed      Class
1  Kirkpatrick, who wore a baseball cap embroider...          0
2  Question: If <e>Romney</e> and <e>Obama</e> ha...          2
3  #<e>obama</e> debates that Cracker Ass Cracker...          1
4  RT @davewiner Slate: Blame <e>Obama</e> for fo...          2

In [13]:
df.columns = ["tweet", "sentiment"]
df.head()

                                               tweet sentiment
0    1: positive, -1: negative, 0: neutral, 2: mixed     Class
1  Kirkpatrick, who wore a baseball cap embroider...         0
2  Question: If <e>Romney</e> and <e>Obama</e> ha...         2
3  #<e>obama</e> debates that Cracker Ass Cracker...         1
4  RT @davewiner Slate: Blame <e>Obama</e> for fo...         2

In [14]:
#df = df[df['sentiment'].isin([-1, 0, 1])]
df = df[df['sentiment'].isin([-1, 0, 1, 2])]
df['sentiment'] = df['sentiment'].replace(2, 0)
df.head()

                                               tweet  sentiment
1  Kirkpatrick, who wore a baseball cap embroider...          0
2  Question: If <e>Romney</e> and <e>Obama</e> ha...          0
3  #<e>obama</e> debates that Cracker Ass Cracker...          1
4  RT @davewiner Slate: Blame <e>Obama</e> for fo...          0
5  @Hollivan @hereistheanswer  Youre missing the ...          0

In [15]:
#df = df.iloc[1:, :]
df.head()

                                               tweet  sentiment
1  Kirkpatrick, who wore a baseball cap embroider...          0
2  Question: If <e>Romney</e> and <e>Obama</e> ha...          0
3  #<e>obama</e> debates that Cracker Ass Cracker...          1
4  RT @davewiner Slate: Blame <e>Obama</e> for fo...          0
5  @Hollivan @hereistheanswer  Youre missing the ...          0

In [16]:
import re
import string

In [17]:
df['tweet'] = df['tweet'].astype(str).fillna('')

# Remove HTML tags, mentions, URLs, &-starting strings, specific characters, punctuation
df['tweet'] = df['tweet'].str.replace(r'<[^>]*>', '', regex=True)  # Remove HTML tags
df['tweet'] = df['tweet'].str.replace(r'@\w+', '', regex=True)  # Remove mentions starting with @
df['tweet'] = df['tweet'].str.replace(r'http\S+', '', regex=True)  # Remove URLs starting with http
df['tweet'] = df['tweet'].str.replace(r'&\S+', '', regex=True)  # Remove strings starting with &
df['tweet'] = df['tweet'].str.replace(r'"', '', regex=True)  # Remove double quotes
df['tweet'] = df['tweet'].str.replace(r'#', '', regex=True)  # Remove hash symbols

# Remove non-ASCII characters
df['tweet'] = df['tweet'].apply(lambda x: x.encode('ascii', 'ignore').decode('ascii') if isinstance(x, str) else x)

# Remove punctuation
df['tweet'] = df['tweet'].str.replace(f"[{re.escape(string.punctuation)}]", '', regex=True)

# Remove extra spaces that may result from removals
df['tweet'] = df['tweet'].str.strip().replace(r'\s+', ' ', regex=True)

df.head()

                                               tweet  sentiment
1  Kirkpatrick who wore a baseball cap embroidere...          0
2  Question If Romney and Obama had a childpunchi...          0
3  obama debates that Cracker Ass Cracker tonight...          1
4  RT Slate Blame Obama for four deaths in Libya ...          0
5  Youre missing the point Im afraid you do not u...          0

In [18]:
df.dropna(inplace=True)
df.to_csv('data_cleaned/train_data_cleaned_2.csv', index=False)